/* GENERAL STYLES */

.Title {
  font-size: 3.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 1em;
  font-family: "montserrat";
  margin-top: 5%;
}

#loader-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f2f2f;
}

/* INITIAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML && BODY STYLES */
html,
body,
#root {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#root::-webkit-scrollbar {
  display: none;
  overflow-y: none;
}

html {
  scroll-behavior: smooth;
}

/* HEADER STYLES  */

header {
  width: 100vw;

  margin-bottom: 5vh;
  position: relative;
  z-index: 12;
}

#relleno {
  width: 100vw;
  height: 16vh;
  background: linear-gradient(180deg, #101010 70%, rgba(255, 255, 255, 0));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.logo {
  width: 35%;
}

nav {
  background: linear-gradient(180deg, #101010 5%, rgba(255, 255, 255, 0) 96%);
  min-height: 16vh;
}

.navbar-toggler {
  margin-bottom: 5px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-family: "montserrat";
  font-weight: bold;
}

.headroom-wrapper {
  height: 0 !important;
}

#root>div.App>a:hover {
  color: white;
}

/* PLACEHOLDER STYLES */

main {
  height: auto;
  width: 100vw;
  background-color: #333;
}

.principal_slider-s {
  position: relative;

  z-index: 0;
}


.swiper-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,
      rgba(0, 0, 0, 60%),
      60%,
      rgba(0, 0, 0, 0));
  z-index: 3;
}

#services-section .swiper {
  width: 80vw;
  max-height: 78vh;
  margin-bottom: 10vh;
}

#services-section .swiper-slide {
  height: 90%;
}

.swiper-slide {
  height: 100vh;
  width: 100vw;
  display: flex;
  background: #eee;
  align-items: center;
  justify-content: center;
  transition: all 200ms linear;
  transform: scale(0.8);
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.swiper-container {
  position: relative;
}

.a-button {
  background-color: orange;
  font-size: 100%;
  font-family: "montserrat";
  color: #fff;
  text-decoration: none;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#principal_slider-text .a-button {
  position: absolute;
  bottom: 5%;
  left: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
  padding-right: 20px;
  border: none;
  border-radius: 140px;
  font-weight: 600;
  z-index: 10;
}

.stars-text-container {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.a-button h2 {
  font-size: calc(1rem + 1vw);
  font-family: "montserrat";
}

.animate {
  animation: fadeIn 0.5s linear;
}

.a-button:hover {
  background-color: #fff;
  color: orange;
}

.a-button:hover>svg {
  fill: orange;
}

.a-button svg {
  width: 60px;
  height: 60px;
  fill: white;
  margin-right: 10px;
}

.btn-lg {
  background-color: orange;
  color: white;
  border: orange;
  height: 8vh;
  width: 20vw;
  margin-top: 15px;
}

.btn-lg:hover {
  background-color: white;
  color: orange;
  border: orange;
  box-shadow: rgb(255, 195, 83) 20px;
}

.btn-lg:focus {
  background-color: white;
  color: orange;
  box-shadow: 0 0 0 0.25rem rgb(255, 209, 124);
}

/* INFO STYLES */

.info-section {
  background-color: #eee;
  color: #333;
  padding: 10% 5%;
}

.info-title {
  text-align: center;
  color: orange;
  font: 700 calc(2em + 1vw);
  margin: 0% 0% 8% 0%;
}

.info-fragment {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5%;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

/* SERVICES STYLES */

#services-section {
  width: 100vw;
  height: auto;
  background-color: #101010;
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 0;
  padding: 8% 5% 0%;
}

#services-section .title {
  position: absolute;
  color: #eee;
  font-size: calc(2em + 1vw);
  font-family: "montserrat";
  top: 20%;
  left: 50%;
  transform: translate(-50%, -5%);
  z-index: 4;
}

.service_item {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  position: relative;
}

#services-section .swiper-slide {
  height: 100vh;
  background-color: #101010;
  position: relative;
}

#services-section .service_item {
  height: auto;
}

.service_img_holder img {
  max-height: 80vh;
  object-fit: cover;
  position: static;
}

.text_button_holder {
  width: 100vw;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #eee;
}

#services-button-container .a-button {
  background-color: orange;
  font-size: 100%;
  font-family: "montserrat";
  color: #fff;
  text-decoration: none;
  padding: 20px;
  position: absolute;
  bottom: 5%;
  left: 5%;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 140px;
  font-weight: 600;
  z-index: 10;
}

#services-button-container .a-button:hover {
  background-color: #fff;
  color: orange;
}

#services-button-container .a-button:hover>svg {
  fill: orange;
}

#services-button-container svg {
  width: 50px;
  height: 50px;
  fill: white;
  margin-right: 10px;
}

.service_item h1 {
  font-size: calc(1.5em + 1vw);
  font-family: "montserrat";
  margin-bottom: 5%;
  padding-top: 10%;
}

.swiper-next-slide img ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,
      rgba(0, 0, 0, 60%),
      60%,
      rgba(0, 0, 0, 0));
  z-index: 3;
}

.service_item .btn {
  background-color: orange;
  color: white;
  border: orange;
  height: auto;
  width: auto;
  margin-bottom: 5%;
  font-size: calc(1em + 5%);
}

/* PRODUCTS STYLES */

#products-section {
  width: 100vw;
  padding: calc(1rem + 1vw);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10%;
  justify-content: center;
}

/* HISTORY STYLES */

#history-section {
  padding-top: 16vh;
  width: auto;
  height: auto;
  background-color: #eee;
  display: flex;
  justify-content: center;
}

#history-title {
  text-align: center;
  font-size: calc(2rem + 1vw);
  padding: 5% 5% 2%;
  margin: 0% 0% 5% 0%;
}


.paragraph {
  display: grid;

}

.paragraph-inverted {
  display: grid;
}

.paragraph div {
  height: min-content;

}

.paragraph-inverted div {
  height: min-content;
}

.paragraph-svg {
  max-width: 100%;
  padding: 0% 10%;
  margin: 10% 0%;
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.history-container {
  width: 80vw;
}

.history-container p {
  font-size: calc(0.8rem + 1vw);

  font-family: montserrat;
  font-weight: 400;
  text-align: justify;
  padding: 0% 5%;
}

#history-button-container {
  position: relative;
  width: auto;
  height: fit-content;
}

#history-button-container .a-button {
  padding: 5%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateY(100%) translateX(-50%);
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 140px;

  font-weight: 600;
  z-index: 0;
}

.swiper {
  z-index: 0;
}

/* TEAM STYLES */
#team-section {
  width: 100vw;
  min-height: 100vh;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-container {
  width: 90vw;
  height: auto;
  background-color: #eee;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  justify-items: center;
  padding: 2%;
  padding-top: 4%;
  column-gap: 5%;
  padding-bottom: 7%;
}

#team-title-container {
  padding: 2% 2%;
}

#team-row-container {
  display: grid;
  grid-template-rows: repeat(2, min-height);
  justify-items: center;
}

#team-section h1 {
  padding-top: 5%;
  font-size: calc(2rem + 1vw);
}

.partner {
  width: 100%;
  min-height: 90%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  border-radius: 10%;
  -webkit-box-shadow: -2px 11px 40px 1px rgba(71, 59, 71, 0.42);
  -moz-box-shadow: -2px 11px 40px 1px rgba(71, 59, 71, 0.42);
  box-shadow: -2px 11px 40px 1px rgba(71, 59, 71, 0.42);
  margin: 2%;
  padding: 5%;
  background-color: #fcfcfc;
}

.partner-social-media {
  display: grid;
  grid-template-columns: repeat(2, 1fr) minmax(50px, 1fr);
  justify-items: center;
}

.partner-social-media svg {
  width: 100%;
  height: auto;
}

.team-img-holder {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.team-img-holder img {
  height: 40vh;
}

.team-img-holder picture {
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.partner h2:first-child {
  font-size: calc(1rem + 1vw);
  font-family: "montserrat";
  margin-bottom: 5%;
  padding-top: 10%;
  text-align: center;
}

.partner h2:last-child {
  font-size: calc(1em + 10%);
  font-family: "montserrat";
  font-style: italic;
  margin-bottom: 5%;
  padding-top: 0%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.goDown {
  margin: 50% 20%;
}

.team-button svg {
  height: auto;
  width: auto;
  margin: 0;
}

/* CONTACT US STYLES */
.contactUsFragment {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding-top: 16vh;
}

.contactUsFragment svg {
  width: 100%;
  height: 100%;
  padding: 0% 10%;
  margin: 0% 0% 8% 0%;
}

.contactUsFragment h3 {
  text-align: center;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

.float a {
  color: #eee;
}

.ContactUsFragment-section {
  background-color: #eee;
  color: #2f2f2f;
}

.ContactUsFragment-container {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5% 5% 2.5%;
}

.ContactUsFragment-container h1 {
  font-size: calc(2rem + 1vw);
}

.ContactUsFragment-container h3 {
  margin: 5% 0%;
  font-size: calc(1rem + 1vw);
}

.ContactUsFragment-container .btn {
  margin: 5% 0%;
}

/* MAP STYLES */
#map-section {
  width: 100vw;
  height: auto;
  background-color: #eee;
}

.map-container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

/* NEWSLETTER STYLES */
#contact-us-section {
  width: 100vw;
  height: auto;
  background-image: linear-gradient(to right, #0c81a8 0%, #7492ff 100%);
  padding-top: 8%;
}

.form-container {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.contact-us-container {
  padding: 12vh 0% 0% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: calc(1em + 15%);
  position: relative;
}

.contact-us-container .newsletter-svg {
  width: calc(70% + 1vw);
  padding: 5% 0%;
  height: 100%;
  display: block;
  margin: 0;
  filter: drop-shadow(-3px 15px 5px rgb(0 0 0 / 0.4));
}

.contact-us-container form {
  border-radius: 5%/5%;
  background-color: rgb(245, 245, 245);
  width: 76%;
  padding: 10% 5%;
  padding-top: 5%;
  display: grid;
  grid-template-rows: repeat(auto-fit, min-height);
  row-gap: 1%;
  align-items: center;
  justify-items: center;
  color: #333;
  box-shadow: 0 3px 10px #3333336e;
}

.contact-us-container form a {
  color: #333;
}

.error {
  font-size: small;
  color: #dc3545;
}

.info-container {
  display: flex;
  flex-direction: column;

}

.info-container p {
  font-size: calc(1rem + 1vw);
}

.info-container h2 {
  text-align: center;
  padding: 0% 0% 4% 0%;
}

.Newsletter-title-p {
  font-size: calc(0.5em + 1vw);
}

.info-fragment {
  align-items: start;
}

.form-title {
  width: 80vw;
  text-align: center;
  margin-bottom: 6%;
}

.Newsletter-word {
  color: #ffb52e;
  font-weight: 700;
}

.contact-us-container a {
  color: #fff;
  font-size: small;
}

.contact-us-container button {
  width: 100%;
  background-color: orange;
  padding: 2% 5%;
  border: none;
  color: #fff;
  border-radius: 10%/100%;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.field {
  color: #333;
  width: 80%;
  border: 1px solid #ff9100;
  border-radius: 10px;
  padding: 3% 2%;
  background-color: rgb(249, 249, 249);
  text-align: center;
}

.field::placeholder {
  color: #333;
}

.sumbit-button {
  width: 40%;
  padding: 2%;
  background-color: orange;
  border: none;
  border-radius: 20%/100%;
  margin-top: 5%;
}

#sumbit-button:hover {
  color: #fff;
}

#sumbit-button:focus {
  color: rgb(251, 210, 136);
}

.custom-img-holder .a-button {
  position: absolute;
  bottom: 5%;
  right: 5%;
  z-index: 0;
  height: auto;
  width: auto;
}

.custom-img-holder {
  display: flex;

  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.home-button {
  padding: 1%;
  width: fit-content;
  font-size: calc(1em + 1vw) !important;
}

.product-button {
  width: 100%;
}

.product-text { 
  text-align: justify;
}
.coffee-meter {
  display: flex;
  flex-direction: row;
  gap: 2px;
  width: 100%;
  border-radius: calc(1em + 1vw);
  margin: 5px;
  justify-content: center;
}
.coffee-article {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.coffee-article p {
  font-weight: 600;
}
 
.coffee-active {
  background-color: orange

}
.coffee-inactive {
  background-color: #eeee;
  
}
.coffee {
  height: 25px;
  width: 60px;
  border-radius: 0px 10px 0px 10px;
}

/* FOOTER STYLES */
footer a {
  color: #333;
  text-decoration: none;
}

/* KEYFRAMES */
@keyframes fadeIn {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* MEDIA QUERIES */

@media (max-width: 990px) {
  .logo {
    max-width: 449px;
    width: 50%;
    display: flex;
    float: right;
    margin: 23px 0px;
  }

  .navbar-toggler {
    position: fixed;
    top: 35px;
    left: 20px;
  }

  #services-button-container .a-button {
    font-size: calc(1em + 5%);
    position: absolute;
    left: 50% !important;
    transform: translateX(-50%);
  }

  #services-section .swiper-slide {
    height: 398px;
    width: 100vw;
  }

  .team-button {
    display: none;
  }

  #team-title {
    padding-top: 10%;
  }

  .team-container {
    padding: 10% 0%;
  }

}

@media (min-width: 880px) {
  #team-section .goDown {
    display: none;
  }

  #history-section .goDownProvisional {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  .paragraph {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .paragraph-inverted {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .paragraph-svg {
    max-width: 375px;
  }
}

@media (min-width: 620px) {
  #history-section .goDown {
    display: none;
  }
}

@media (max-width: 880px) {
  #history-section .goDownProvisional {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  #services-section .swiper {
    width: 95vw !important;
  }
}

/* Imported font famyly montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');