/* GENERAL STYLES */

.Title {
  font-size: 3.5rem;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-bottom: 1em;
  font-family: 'montserrat';
  margin-top: 5%;
}

/* INITIAL STYLES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* HTML && BODY STYLES */
html, body, #root {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  
}
#root::-webkit-scrollbar{
  display: none;
  overflow-y: none;
}
html{
  scroll-behavior: smooth;
}
/* HEADER STYLES  */

header{
  width: 100vw;
 
  margin-bottom:  5vh;
  position: relative;
  z-index: 12; 
 
}
#relleno{
  width: 100vw;
  height: 16vh;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.logo {
 width: 30%;
}
nav {
  background-color: black;
  min-height: 16vh;
}
.navbar-toggler{
  margin-bottom: 5px;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'montserrat';
  font-weight: bold;
}

/* PLACEHOLDER STYLES */

main {
  height: auto;
  width: 100vw;
  background-color: #000;
  
}
.principal_slider-s{
  position: relative;
  width: 100vw;
  z-index: 0;
}
.swiper-container::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,rgba(0, 0, 0, 60%), 60%, rgba(0, 0, 0, 0));
  z-index: 3;
}

.swiper-slide {
  height: 84vh;
  width: 100vw;
  display:flex;
  background: #eee;
  align-items: center;
  justify-content:center;
  transition:all 200ms linear;
  transform: scale(0.8);
}
.swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-container{
  position: relative; 

}
#principal_slider-text{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.a-button{
  background-color: orange;
  font-size: 100%;
  font-family: 'montserrat';
  color: #fff;
  text-decoration: none;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#principal_slider-text .a-button{
  position: absolute;
  bottom: 5%;
  left: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
  padding-right: 20px;
  border: none;
  border-radius: 140px;
  font-weight: 600;
  z-index: 10;
}
.a-button h2{
  font-size: calc(1rem + 1vw);
  font-family: 'montserrat';
}
.animate{
  animation: fadeIn 0.5s linear;
}
.a-button:hover{
  background-color: #fff;
  color: orange;
}
.a-button:hover > svg{
  fill: orange;
}
.a-button svg{
  width: 60px;
  height: 60px;
  fill: white;
  margin-right: 10px;

}

.btn-lg {
  background-color: orange;
  color: white;
  border: orange;
  height: 8vh;
  width: 20vw;
  margin-top: 15px;
  
}
.btn-lg:hover {
  background-color: white;
  color: orange;
  border: orange;
  box-shadow: rgb(255, 195, 83) 20px;
}

.btn-lg:focus {
  background-color: white;
  color: orange;
  box-shadow: 0 0 0 0.25rem rgb(255, 209, 124);
}
/* SERVICES STYLES */

#services-section{
  width: 100vw;
  min-height: 100vh;
  background-color: #101010;
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 0;
}
#services-section .title{
  position: absolute;
  color: #eee;
  font-size: calc(2em + 1vw);
  font-family: 'montserrat';
  top: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  z-index: 4;
}

.service_item{
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  position: relative;
}
#services-section .swiper-slide{
  height: auto;
  background-color: #101010;
  padding: 2%;
}
#services-section .service_item{
  height: auto;

}
.service_img_holder img{
  width: 100vw;
  object-fit: cover;
  position: static;
}
.text_button_holder{
  width: 100vw;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #eee;
}
#services-button-container .a-button{
  background-color: orange;
  font-size: 100%;
  font-family: 'montserrat';
  color: #fff;
  text-decoration: none;
  padding: 20px;
  position: absolute;
  bottom: 5%;
  left: 5%;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 140px;
  font-weight: 600;
  z-index: 10;
}

#services-button-container .a-button:hover{
  background-color: #fff;
  color: orange;
}
#services-button-container .a-button:hover > svg{
  fill: orange;
}
#services-button-container svg{
  width: 50px;
  height: 50px;
  fill: white;
  margin-right: 10px;

}
.service_item h1{
  font-size: calc(1em + 10%);
  font-family: 'montserrat';
  margin-bottom: 5%;
  padding-top: 10%;
}
.swiper-next-slide img ::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,rgba(0, 0, 0, 60%), 60%, rgba(0, 0, 0, 0));
  z-index: 3;
}
.service_item .btn{
  background-color: orange;
  color: white;
  border: orange;
  height: auto;
  width: auto;
  margin-bottom: 5%;
  font-size: calc(1em + 5%);
}

/* HISTORY STYLES */
#history-section{
  width: auto;
  height: auto;
  background-color: #eee;
}
.history-container{
  height: auto;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: center;
  position: relative;
  
}

.first-part {
  background: url('./img/servicios/alojamiento_rural/73285021_120547206024500_1614865251839246336_n.jpg') !important;
  width: auto;
  height: auto;
  background-color: #eee;
}
.second-part{
  background: url('./img/servicios/alojamiento_rural/WhatsApp\ Image\ 2021-07-20\ at\ 4.07.47\ PM\ \(1\).jpeg' )!important;
  width: auto;
  height: auto;
  background-color: #eee;
}
.third-part{
  background: url('./img/servicios/alojamiento_rural/WhatsApp\ Image\ 2021-07-20\ at\ 4.07.54\ PM.jpeg' )!important;
  width: auto;
  height: auto;
  background-color: #eee;
}
.history-item{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  color: #fff;
}
.history-item h1{
  font-size: calc(1em + 60%);
  font-family: 'montserrat';
  font-weight: 600;
  margin-bottom: 5%;
  padding-top: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  pointer-events: none; 
}
.history-item p{
  font-size: calc(1em + 7%);
  font-family: 'montserrat';
  margin-bottom: 5%;
  padding-top: 10%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -5%);
  z-index: 5;
  justify-content: center;
  text-align: start;
  display: none;
}
.history-item::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
}
#history-button-container{
  position: relative;
  width: auto;
  height: fit-content;
}
#history-button-container .a-button{
  
  padding: 5%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateY(100%) translateX(-50%);
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 140px;

  font-weight: 600;
  z-index: 0;
}


/* TEAM STYLES */
.team-section{
  width: 100vw;
  height: auto;
  background-color: #eee;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 0;
  
}
.team-container{
  width: 100vw;
  height: auto;
  background-color: #eee;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  
  justify-content: center;
  justify-items: center;
  padding: 2%;
  padding-top: 40%;
}
.team-container h1{
  padding-top: 10%;
}
.partner{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  border-radius: 10%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 5%;
}

.team-img-holder img{
  width: 80%;
  height: auto;
  object-fit: cover;
  position: static;
  border-radius: 50%;
  width: 80%;
}
.team-img-holder picture{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: 10%;
}
.partner h2:first-child{
  font-size: calc(1em + 40%);
  font-family: 'montserrat';
  margin-bottom: 5%;
  padding-top: 10%;
}
.partner h2:last-child{
  font-size: calc(1em + 15%);
  font-family: 'montserrat';
  font-style: italic;
  margin-bottom: 10%;
  padding-top: 0%;
  display: flex;
  justify-content: center;
}


/* MEDIA QUERIES */

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (max-width: 990px) {
  .logo {
    width: 50%;
    display: flex;
    float: right;
    margin: 10px 0px;
    }
  .navbar-toggler{
    position: fixed;
    top: 35px;  
    left: 20px;

  }

   #services-button-container .a-button{

    font-size: calc(1em + 5%);
    position: absolute;
    left: 50% !important;
    transform: translateX(-50%);

  }

}

